@use 'styles/utils/_mixins.scss' as *;

.container, .navText {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.3em;
    
}
.navText {
    @include breakpoint-sm {
        padding-top: 1em;
        padding-left: 1.5em;
      }
}

.container {
    @include breakpoint-sm {
        margin-top: 4.5em;
        display: flex;
        margin-left: 4em;
        margin-right: 4em;
  }
}



.content {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    @include breakpoint-sm {
        width: 40%;
    }
    @include breakpoint-me {
        width: 30%;
        margin-left: 10%;
        margin-top: 5em;
    }
}

.welcome {
    font-size: 18px;
    @include breakpoint-sm {
        font-size: 20px;
    }
}

.protusV {
    font-size: 30px;
    margin-top: 0.3em;
    @include breakpoint-sm {
        font-size: 34px;
    }
}

.desc {
    font-size: 16px;
    margin-top: 2em;
    // @include breakpoint-sm {
    //     max-width: 50%;
    // }
}

.image {
    width: 90%;
    margin-top: 1.5em;
    margin-left: 1em;
    text-align: center;
    @include breakpoint-sm {
       width: 50%;
    }
    @include breakpoint-me {
       margin-left: 0;
     }
}




Button {
    margin-top: 1em;
    position: absolute;
    bottom: 4.5em;
    left: 50%;
    margin-left: -50px;
    @include breakpoint-sm {
       position: unset;
       margin-left: inherit;
       margin-top: 1.5em;
      }
}