@use 'styles/utils/_colors.scss' as *;

// --- Global styling ---
.layout {
    color: $surf-text;
    background-color: $surf-bg;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: sandybrown;
}