@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_variables.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_typography.scss' as *;

.container {
  @include content-wrapper(l);
  background-color: $surf-darkgrey;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: $spacing--l;
  padding: $spacing--s;
}

.logoAndCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing--xxxs;
}

.lineSeperator {
  background-color: currentColor;
  width: 2px;
  height: 2rem;
}

.courseContainer {
  display: block;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.courseButton {
  @include button-style-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing--xxxs;

  div {
    display: flex;
    flex-direction: column;
    gap: $spacing--xxxs;
  }

  p {
    line-height: 0.75rem;
  }
  span {
    color: grey;
    @include type($font--tiny);
    line-height: 0.25rem;
  }
  svg {
    margin-top: $spacing--xxxs;
  }
}

.courseDropdown {
  @include list-style-reset;
  position: absolute;
  top: calc(100% + $spacing--tiny);
  left: -$spacing--xs;
  background-color: $surf-darkgrey;
  padding-inline: $spacing--xs;
  padding-block: $spacing--xxxs;

  li {
    padding-block: $spacing--tiny;
    &:hover {
      cursor: pointer;
    }
  }
  z-index: 1;
  a {
    @include link-style-reset;
  }
}

.auth {
  svg {
    height: $spacing--sm;
  }
}

.authDropdown {
  @include list-style-reset;
  position: absolute;
  top: calc(100% + $spacing--tiny);
  right: -$spacing--xs;
  background-color: $surf-darkgrey;
  padding-inline: $spacing--xs;
  padding-block: $spacing--xxxs;

  li {
    padding-block: $spacing--tiny;
    &:hover {
      cursor: pointer;
    }
  }
  z-index: 1;
  a {
    @include link-style-reset;
  }
}
