@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.sidebar {
    position: absolute;
    list-style-type: none;
    background-color: $surf-bg;
    width: 100%;
    opacity: 90%;
    display: grid;
    font-size: 25px;
    gap: 0.5em;
    padding: 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @include box-shadow(5px,0,10px,5px, rgb(255, 255, 255,0.6));
    @include breakpoint-sm {
        width: 11em;
    }  
    @include breakpoint-me {
        padding-left: 1.5em;
        gap: 0.3em;
        position: relative;
        box-shadow: none;
    }
    @include breakpoint-la {
    }   
} 

.currentCourse {
    font-weight: bolder;
    letter-spacing: 0.02em;
    font-size: 25px;
    @include breakpoint-sm {
        font-size: 22px;
    }  
    @include breakpoint-me {
        font-size: 20px;
    }  
}

.items {
    color: $surf-text;
    text-decoration: none;
    font-size: 22px;
    @include breakpoint-sm {
        font-size: 18px;
    }
    @include breakpoint-me {
        font-size: 16px;
    }      
    &:hover {
        text-decoration: underline;
    }
}

.sidebarOpen {
    width: 10px;
}

.btnOpen {
    position: relative;
    z-index: 2;
    float: right;
}


.btnOpen::after {
    content: "\00d7"; 
    opacity: 0.7;
    @include breakpoint-me {
        content: '';
    }
}

.btnClose {
    background-color: $surf-bg;
    width: 3em;
    position: absolute;
    z-index: 2;
    opacity: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @include box-shadow(5px,0,10px,5px, rgb(255, 255, 255,0.6));
    @include breakpoint-sm {
        width: 2em;
        height: 3em;
    }
    &:hover {
        background-color: rgb(70, 70, 70);
    }   
}