@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.open {
  display: block;
}
.closed {
  display: none;

  @include breakpoint-sm {
    display: none;
  }
}

.sidebar {
  z-index: 5;
  background-color: $surf-darkgrey;
  width: 100%;
  padding: $spacing--xs;
  margin: $spacing--tiny;
  margin-left: 0;
  margin-top: 0;
  @include breakpoint-sm {
    margin-right: 2em;
    margin-top: $spacing--tiny;
    border-bottom-right-radius: $border-radius--m;
    border-top-right-radius: $border-radius--m;
    opacity: 90%;
    width: $spacing--big;
  }

  @include breakpoint-m {
    border-radius: $border-radius--m;
  }

  ul {
    @include list-style-reset;
    display: flex;
    flex-direction: column;
    gap: $spacing--xxxs;
    margin-top: $spacing--xxs;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    font-weight: bolder;
    @include type($font--sm);
  }
}

.items {
  color: $surf-text;
  text-decoration: none;
  @include type($font--s);
  @include underline-animation(expand, 'span');
}

.button {
  @include button-style-reset;
  &_test {
    background-color: $surf-darkgrey;
    border-bottom-right-radius: $border-radius--s;
    border-top-right-radius: $border-radius--s;
    padding-block: $spacing--xxs;
    position: relative;
    z-index: 2;
    float: right;
    margin: $spacing--tiny;
    margin-left: 0;
  }

  svg {
    height: $spacing--sm;
    aspect-ratio: 1;
  }
}

.activitiesLink {
  @include link-style-reset;
  @include gradient(90deg, $surf-gradient);
  color: $surf-darkgrey;
  border-radius: $border-radius--s;
  @include type($font--s);
  font-weight: 600;
  width: 100%;
  padding: $spacing--xxxxs $spacing--s;
  @include breakpoint-sm {
    margin-right: 2em;
    margin-top: $spacing--xxxs;
    opacity: 90%;
    width: $spacing--big;
  }
}
