@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.page {
  @include content-wrapper();

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: $spacing--xxs;
  }
}

.title {
  @include type($font--sm);
}

.search {
  display: flex;
  height: convert-to-rem(40px);
  width: 100%;
  padding-inline: $spacing--xxs;

  @include type($font--xs);
  position: relative;

  &_input {
    @include input-style-reset;
    background-color: $surf-lightgrey;
    border-radius: 9999px;
    position: absolute;
    inset: 0;
    width: 100%;
    padding-inline: $spacing--xxs;
    padding-block: $spacing--tiny;
    color: $surf-text;
  }
  svg {
    position: absolute;
    right: $spacing--xxs;
    inset-block: $spacing--tiny;
    height: $spacing--s;
    aspect-ratio: 1;
  }
}
