@use 'styles/utils/main' as *;
@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.courses {
  display: grid;
  gap: $spacing--xxs;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  @include breakpoint-sm {
    grid-template-columns: repeat(auto-fit, minmax($spacing--big, 1fr));
  }
}

.page {
  display: grid;
  grid-template:
    'intro'
    'svg'
    'button';
  gap: $spacing--s;

  padding: $spacing--s;
  .intro {
    grid-area: 'intro';
  }
  > svg {
    grid-area: 'svg';
    width: 100%;
  }
  .button {
    grid-area: 'button';
  }
}
