@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.container {
    background-color: $surf-grey;
    border-radius: 10px;
    width: 9em;
    padding: 1em;
    cursor: pointer;
    background-color: $surf-grey;
    & .cardTitle, .cardTitle, .activity, .icon {
        background-color: inherit;
        border-radius: 10px;
    }
    &:hover {
        background-color: $surf-hovergrey;
    }
}



.cardTitle {
    font-size: 18px;
    margin-top: 4px;
}

.activity {
    font-size: 14px;
}

.icon{
    background-color: $surf-lightgrey;
    width: 2.7em;
}