@use 'styles/utils/main' as *;

.activityCard {
  background-color: $surf-grey;
  max-width: $spacing--xbig;
  min-width: 140px;
  padding: $spacing--xs;
  border-radius: $border-radius--m;
  overflow: hidden;
  cursor: pointer;

  max-width: $spacing--xbig;
  min-width: 140px;

  @include breakpoint-sm {
    max-width: $spacing--xbig;
    min-width: $spacing--big;
  }

  &:hover {
    background-color: $surf-hovergrey;
  }

  a {
    @include link-style-reset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: max-content;
    width: 100%;
  }

  svg {
    color: $surf-lightgrey;
    height: $spacing--l;
    width: max-content;
    margin-bottom: $spacing--xxs;
    @include breakpoint-sm {
      height: $spacing--xl;
    }
    margin-bottom: auto;
  }
}

.title {
  @include type($font--s);
  line-height: 105%;
  max-height: $spacing--l;
  margin-top: $spacing--xxxs;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.type {
  @include type($font--xxs);
  font-weight: 600;
  line-height: $font--xxs;
  &-red {
    color: $surf-orange;
  }
  &-purple {
    color: $surf-purple;
  }
}
