@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.container {
    background-color: $surf-grey;
    border-radius: 10px;
    width: 9em;
    height: 10.5em;
    padding: 1em;
    cursor: pointer;
    background-color: $surf-grey;
    border-radius: 10px;
    & .cardTitle, .cardTitle, .activity, .icon{
        background-color: inherit;
    }
    &:hover {
        background-color: $surf-hovergrey;
    }
    @include breakpoint-sm {
        width: 11em;
    }
}




.cardTitle {
    font-size: 18px;
    margin-top: 4px;
}

.activityLabel {
    font-size: 14px;
    font-weight: 600;
    &-red {
        color: $surf-orange;
    }
    &-purple {
        color: $surf-purple;
    }
}

.icon{
    background-color: $surf-lightgrey;
    width: 2.7em;
}