@use 'styles/utils/main' as *;

.button {
  &_link {
    @include link-style-reset;
  }
  &_button {
    @include button-style-reset;
  }
  border-radius: $border-radius--s;
  @include type($font--s);
  font-weight: 600;
  padding: $spacing--xxxxs $spacing--s !important;

  @include breakpoint-sm {
    padding: $spacing--xxxs $spacing--s !important;
  }

  @include breakpoint-m {
    padding: $spacing--xxxs $spacing--sm !important;
  }

  &_blue {
    @include gradient(90deg, $surf-gradient);
    color: $surf-darkgrey;
  }
  &_blue_dark {
    @include gradient(90deg, $surf-gradient-dark);
    color: $surf-text;
  }

  &:hover {
    opacity: 0.8;
  }
}
