@use 'styles/utils/main' as *;

.chapterCard {
  background-color: $surf-grey;
  border-radius: $border-radius--s;
  min-width: $spacing--xbig;
  max-width: 360px;
  z-index: 1;
  overflow: hidden;
  a {
    @include link-style-reset;
    display: flex;
    flex-direction: column;
    height: 100%;

    > :first-child {
      display: flex;
      align-items: center;
      padding: $spacing--tiny;
    }

    svg {
      margin: $spacing--xxxs;
    }
    &:hover {
      svg {
        transform: scale(1.5);
      }
    }
  }
  .title {
    @include type($font--s);
    line-height: 105%;
    max-height: $spacing--l;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
