@use 'styles/utils/main' as *;

.chapterList {
  @include list-style-reset;
  display: grid;
  gap: $spacing--xxs;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));

  @include breakpoint-sm {
    grid-template-columns: repeat(auto-fit, minmax($spacing--xbig, 1fr));
  }
}
