@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.chip {
  @include gradient(left, $surf-gradient);
  display: flex;
  gap: $spacing--xxxs;
  width: max-content;
  padding-inline: $spacing--xxs;
  border-radius: 9999px;
  color: black;
  @include type($font--xs);
  @include breakpoint-sm {
    padding-block: $spacing--xtiny;
    padding-inline: $spacing--xs;
  }

  &_button {
    @include button-style-reset;
    background: none;
  }
}
