@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_typography.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.container {
  @include gradient(left, $surf-gradient);
  @include link-style-reset;
  cursor: pointer;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
  align-content: center;
  margin: auto;
  width: 70%;
  border-radius: 8px;
  &:hover {
    opacity: 0.7;
  }
  @include breakpoint-sm {
    width: max-content;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.chipText {
  color: black;
  @include type($font--sm);
}
