@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.container {
  border-radius: 10px;
  overflow: hidden;
  max-width: 1000px;
}

.titleText {
  @include gradient(90deg, $surf-gradient);
  color: black;
  font-weight: 600;
  padding: 15px;
  padding-bottom: 10px;
}

.content {
  @include list-style-reset;
  padding: 0.7em;
  background-color: $surf-darkgrey;
}
