@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.container {
  border-radius: $border-radius--m;
  overflow: hidden;

  max-width: 512px;

  @include breakpoint-m {
    max-width: 728px;
  }
}

.title {
  @include gradient(90deg, $surf-gradient);
  color: black;
  font-weight: bolder;
  padding: $spacing--xxs;
}

.content {
  @include list-style-reset;
  padding: $spacing--xxs;
  background-color: $surf-darkgrey;
}
