@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.container {
    border-radius: 10px;
    overflow: hidden;
    max-width: 1000px
}

.titleText {
    @include gradient(left, $surf-gradient);
    color: black;
    font-weight: 600;
    padding: 15px;
    padding-bottom: 10px;
}

.list {
    @include list-style-reset;
    padding: 0.7em;
    background-color: $surf-darkgrey;

}

.items{
    font-size: 16px;
    background-color: $surf-darkgrey;
    padding-top: 0.3em;
    @include breakpoint-sm{
        font-size: 14px;
        padding-left: 1em;
    }
}


