@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;


.filterBtn {
    display: flex;
    cursor: pointer;
    width: max-content;
    border-radius: 15px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: $surf-grey;
    }
}

.btnText, .filterIcon {
    background-color: inherit;
    border-radius: inherit;

}

.filterBox {
    @include list-style-reset;
    width: max-content;
    max-width: 15em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @include box-shadow(1px,2px,5px,1px, rgb(255, 255, 255,0.6));
    border-radius: 6px;
}