@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.filter {
  width: 100%;
  @include type($font--s);
  font-weight: 700;

  transition: all ease-in-out 0.5s;
  .button {
    @include button-style-reset;
    display: flex;

    svg {
      height: $spacing--s;
      aspect-ratio: 1;
    }
  }
  ul {
    @include list-style-reset;
    display: flex;
    flex-direction: column;
    gap: $spacing--tiny;
    padding: $spacing--tiny;
    padding-right: 0;
  }
  .list {
    gap: $spacing--xxxs;
    padding: $spacing--xxxs;
    width: max-content;
  }
}
