@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.input {
  @include input-style-reset;
  border-radius: $border-radius--s;
  padding-inline: $spacing--xxs;
  padding-block: $spacing--xxxxs;
  @include type($font--s);
  background-color: white;
  color: $surf-bg;
  min-width: $spacing--big;
  &::placeholder {
    opacity: 0.5;
    color: inherit;
  }

  @include breakpoint-sm {
    padding-inline: $spacing--xs;
    padding-block: $spacing--xxxs;
  }
}
