@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;
@use 'styles/utils/_variables.scss' as *;

.input {
  @include input-style-reset;
  min-width: $spacing--big;
  padding-inline: $spacing--xxs;
  padding-block: $spacing--xxxxs;
  border-radius: $border-radius--s;
  @include type($font--s);

  @include breakpoint-sm {
    padding-inline: $spacing--xs;
    padding-block: $spacing--xxxs;
  }

  &_dark {
    background-color: $surf-darkgrey;
    color: rgba($surf-text, 0.7);
    &::placeholder {
      opacity: 0.8;
      color: inherit;
    }
  }
  &_default {
    background-color: white;
    color: rgba($surf-bg, 0.7);
    &::placeholder {
      opacity: 0.8;
      color: inherit;
    }
  }
}
