@use 'styles/utils/_colors.scss' as *;
@use 'styles/utils/_mixins.scss' as *;

.container {
  display: flex;
  grid-gap: 0.3em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  @include breakpoint-sm {
    padding-top: 1em;
    padding-left: 1.5em;

  }
} 

.lineSeperator {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: contents;
  font-size: 23px;
  font-weight: 100;
  @include breakpoint-sm {
    font-size: 30px;
  }
}

.courseText{
  font-size: 9px;
  color: grey;
  @include breakpoint-sm {
    font-size: 12px;
  }
}

.courseContainer{
  display: block;
  font-size: 0;
  .courseContainer > .label {
    float: left;
  }
}

@mixin reset{ margin: 0; padding: 0; }
ul{
    @include reset;
    display: block;
    list-style: none;
    li{
      position: relative;
      font-size: 18px;
      @include breakpoint-sm {
          font-size: 23px;
      }
      ul{ 
        padding-left: 1em;
        padding-bottom: 0.3em;
        display: none;
        position: absolute;
        overflow: auto;
        width: 7em; 
        background-color: $surf-bg;
        // border-bottom: 3px solid darken(white, 20%);
        // border-right: 3px solid darken(white, 20%);
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        @include box-shadow(1px,3px,5px,1px, rgb(255, 255, 255,0.6));

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 2;
        li{
          float: none;
        }
      }
      &:hover ul{ display: block; }
    }
  }