@use 'styles/utils/main' as *;

.progressbar {
  margin-top: auto;
  .empty {
    border-radius: 0px;
    height: $spacing--xxxs;
    overflow: hidden;
    position: relative;
  }
  .fill {
    @include gradient(90deg, $surf-gradient);
    border-radius: 9999px;
    height: 100%;
    width: 102%;
    position: absolute;
  }
}
