@use 'styles/utils/_colors.scss' as *;


.sidebar {
    list-style-type: none;
    background-color: $surf-bg;
    width: 5em;
    opacity: 90%;
    display: grid;

}

a {
     color: $surf-text;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

