$surf-bg: #1d1d1d;
$surf-text: #d9d9d9;

$surf-bg: #1d1d1d;
$surf-text: #d9d9d9;

$surf-darkgrey: #292929;
$surf-grey: #363636;
$surf-lightgrey: #676767;
$surf-hovergrey: #4b4b4b;

$surf-purple: #a500c0;
$surf-orange: #ff3d00;

$surf-grad1: #008bc7;
$surf-grad2: #76ffff;

$surf-dark-grad1: #00298e;
$surf-dark-grad2: #0881b6;

$surf-gradient: $surf-grad1, $surf-grad2;

$surf-gradient-dark: $surf-dark-grad1, $surf-dark-grad2;

// -- background gradients --
@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}
