@mixin type--body-36 {
  font-size: 36px;
  letter-spacing: 0em;
}

@mixin type--body-30 {
  font-size: 30px;
  letter-spacing: 0em;
}

@mixin type--body-24 {
  font-size: 24px;
  letter-spacing: 0em;
}

@mixin type--body-22 {
  font-size: 22px;
  letter-spacing: 0em;
}

@mixin type--body-20 {
  font-size: 20px;
  letter-spacing: 0em;
}

@mixin type--body-18 {
  font-size: 18px;
  letter-spacing: 0em;
}

@mixin type--body-16 {
  font-size: 16px;
  letter-spacing: 0em;
}

@mixin type--body-14 {
  font-size: 14px;
  letter-spacing: 0em;
}

@mixin type--body-12 {
  font-size: 12px;
  letter-spacing: 0em;
}

@mixin type--body-10 {
  font-size: 10px;
  letter-spacing: 0em;
}

@mixin type--label-14 {
  font-size: 14px;
  letter-spacing: 0em;
}

@mixin type--label-12 {
  font-size: 12px;
  letter-spacing: 0em;
}

@mixin type--caption {
  font-size: 12px;
  letter-spacing: 0em;
}

@mixin type--display-60 {
  font-size: 45px;
}

@mixin type--display-52 {
  font-size: 25px;
}

h1 {
  font-size: convert-to-rem(20px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(27px);
  }
}

h2 {
  font-size: convert-to-rem(17px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(24px);
  }
}

h3 {
  font-size: convert-to-rem(16px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(22px);
  }
}

h4 {
  font-size: convert-to-rem(16px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(20px);
  }
}

h5 {
  font-size: convert-to-rem(14px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(18px);
  }
}

h6 {
  font-size: convert-to-rem(12px);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem(16px);
  }
}