@use 'styles/utils/_mixins.scss' as *;

@mixin type($font-size) {
  font-size: convert-to-rem($font-size * 0.8);
  margin-block: 0;
  @include breakpoint-s {
    font-size: convert-to-rem($font-size);
  }
}
