@use 'sass:math';

$content-l-max-width: 1440px;
$content-max-width: 1180px;
$content-sm-max-width: 1100px;
$content-s-max-width: 1040px;
$content-xs-max-width: 980px;
$content-xxs-max-width: 720px;

$font-size-base: 16px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

@function convert-to-rem($value, $base-value: $font-size-base) {
  $value: math.div(strip-unit($value), strip-unit($base-value));

  @if ($value==0rem) {
    $value: 0;
  }

  // Turn 0rem into 0
  @return $value * 1rem;
}

//border-radius
$border-radius--l: convert-to-rem(24px);
$border-radius--m: convert-to-rem(12px);
$border-radius--s: convert-to-rem(6px);

//SPACING
$spacing--big: convert-to-rem(192px);
$spacing--xxxl: convert-to-rem(160px);
$spacing--xxl: convert-to-rem(96px);
$spacing--xl: convert-to-rem(80px);
$spacing--l: convert-to-rem(64px);
$spacing--m: convert-to-rem(48px);
$spacing--sm: convert-to-rem(32px);
$spacing--s: convert-to-rem(24px);
$spacing--xs: convert-to-rem(16px);
$spacing--xxs: convert-to-rem(12px);
$spacing--xxxs: convert-to-rem(8px);
$spacing--xxxxs: convert-to-rem(6px);
$spacing--tiny: convert-to-rem(4px);
$spacing--xtiny: convert-to-rem(2px);

//FONTSIZES
$font--xl: 96px;
$font--l: 60px;
$font--m: 36px;
$font--sm: 24px;
$font--s: 18px;
$font--xs: 16px;
$font--xxs: 14px;
$font--xxxs: 12px;
$font--tiny: 10px;

//BREAKPOINTS
$breakpoint-xs: 400px;
$breakpoint-s: 500px;
$breakpoint-sm: 700px;
$breakpoint-xsm: 850px;
$breakpoint-m: 1000px;
$breakpoint-l: 1312px;
$breakpoint-xl: 1500px;
$breakpoint-xxl: 1850px

